JWT_SECRET=
JWT_SECRET_REFRESH=
JWT_EXPIRES_IN=7d
JWT_EXPIRES_IN_REFRESH=7d
DATABASE_URL=
BASE_URL=http://localhost:6553
FRONTEND_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=${FRONTEND_URL}/auth/google/callback
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=${BASE_URL}/auth/github/callback
NPM_TOKEN=
